// VARIABLES

// media queries
$phones: 480px;
$l-phones: 575px;
$tablets: 767px;
$medium: 991px;
$large: 1199px;

// colors
$white: #fff;
$grey: #ccc;
$base: rgb(49, 83, 122);
$error: red;
$success: green;

// sizes